
body{
    background-image: url(1.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
h3,h5 {
    text-align:center;
    color: darkred;
    text-decoration: underline;
    text-underline-position: under;
    font-family: fantasy;
    font-weight: bold; 
    font-size: 25px; 
}
p {
    text-align:center;
    font-size: 20px;
    margin-left:5em;
    margin-right: 5em;
}
form{
    margin-left:25em;
    margin-top:3em;
    margin-right:20em;
    border:solid black 1px;
    padding:3em;
    background-attachment: fixed; 
    background-color: azure;
}

.button{
     font-weight: bold;
     background-color: green;
     margin-left: 8em;
     border-radius: 2em;
     height: 2em;
     width:7em;
}

label{
    padding:2px;
    color: black;
}

input{
    font-size: 20px;
    height:30px; 
    margin:5px;
}

select{
    margin:5px;
}

#year{
    display: inline;
}

.this{
    height:1em;
    width: 2em;
}

